---
import Layout from "@/layouts/Layout.astro";
import Error from "@/layouts/Error.astro";
import Profile from "@/models/Profile";

const sessionProfile = await Profile.current(Astro);

if (!sessionProfile) {
  Astro.response.status = 403;
}
---

{!sessionProfile && <Error code="403" profile={sessionProfile} />}

{
  sessionProfile && (
    <Layout title="Criar" profile={sessionProfile}>
      <h1>O que você quer criar?</h1>
      <a href="/admin/criar/media">Mídia</a>
      <pre>
        &gt;criar projeto if aparecer &gt;then aparecer itens &gt;if itens
        aparecer then then
      </pre>
    </Layout>
  )
}
