---
import Layout from "@/layouts/Layout.astro";
import Profile from "@/models/Profile";

const sessionProfile = await Profile.current(Astro);
---

<Layout title="Créditos" profile={sessionProfile} id="creditos">
  <div class="container">
    <h1 class="hooge">Créditos</h1>
    <article>
      <p>Tudo: Hawnt</p>
      <p>Tudo de novo: Hawnt</p>
      <p>Splats: Hawnt</p>
    </article>
  </div>
</Layout>

<style lang="scss" is:global>
  #creditos {
    .container {
      padding-top: 2rem;
      padding-bottom: 2rem;

      article {
        margin-top: 1rem;

        min-height: 16rem;
      }
    }
  }
</style>
