---
import BarraDoLado from "@/components/BarraDoLado.astro";
import Cramunhao from "@/components/home/Cramunhao.astro";
import Layout from "@/layouts/Layout.astro";
import Profile from "@/models/Profile";

const sessionProfile = await Profile.current(Astro);
---

<Layout profile={sessionProfile} id="home">
  <div class="container">
    <Cramunhao />
    <aside>
      <div id="marquee" class="arial">
        <p>Frases passando aqui estilo marquee blablabla</p>
      </div>
      <BarraDoLado />
    </aside>
  </div>
</Layout>

<script>
  import Marquee from "@/lib/marquee";

  Marquee("#marquee", 0.4);
</script>

<style lang="scss" is:global>
  #home {
    .container {
      display: flex;
      justify-content: space-between;

      > aside {
        margin-top: 19px;

        #marquee {
          width: 253px;
          overflow: hidden;
          display: flex;

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;

            color: #000000;

            white-space: nowrap;
          }
        }

        #barra-do-lado {
          margin-top: 6px;
        }
      }
    }
  }
</style>
