---
import BarraDoLado from "@/components/BarraDoLado.astro";
import Cramunhao from "@/components/home/Cramunhao.astro";
import Layout from "@/layouts/Layout.astro";
import Profile from "@/models/Profile";
import * as Quotes from "@/content/quotes.md";

const sessionProfile = await Profile.current(Astro);

const quotes = Quotes.rawContent()
  .split("\n")
  .sort((a, b) => 0.5 - Math.random())
  .join('<span style="color: #5656ff"> ⬦ </span>');
---

<Layout profile={sessionProfile} id="home">
  <div class="container">
    <Cramunhao />
    <aside>
      <marquee
        class="arial"
        scrolldelay="30"
        truespeed
        scrollamount="1"
        onmouseenter="this.scrollAmount = 0"
        onmouseleave="this.scrollAmount = 1"
        set:html={quotes}
      />
      <BarraDoLado />
    </aside>
  </div>
</Layout>

<style lang="scss" is:global>
  #home {
    .container {
      display: flex;
      justify-content: space-between;

      > aside {
        margin-top: 19px;

        marquee {
          width: 253px;
          overflow: hidden;

          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;

          color: #000000;

          white-space: nowrap;
        }

        #barra-do-lado {
          margin-top: 6px;
        }
      }
    }
  }
</style>
