---
import BarraDoLado from "@/components/BarraDoLado.astro";
import Cramunhao from "@/components/home/Cramunhao.astro";
import Layout from "@/layouts/Layout.astro";
import Profile from "@/models/Profile";

const sessionProfile = await Profile.current(Astro);
---

<Layout profile={sessionProfile} id="home">
  <div class="container">
    <Cramunhao />
    <BarraDoLado />
  </div>
</Layout>

<script>
  // const musicas = [
  //   "/music/last_passo.mp3",
  //   "/music/jogo_dificil.mp3",
  //   "/music/sonho_escape.mp3",
  // ];

  // function shuffle(array: Array<any>) {
  //   let currentIndex = array.length,
  //     randomIndex;

  //   while (currentIndex != 0) {
  //     randomIndex = Math.floor(Math.random() * currentIndex);
  //     currentIndex--;

  //     [array[currentIndex], array[randomIndex]] = [
  //       array[randomIndex],
  //       array[currentIndex],
  //     ];
  //   }

  //   return array;
  // }

  // shuffle(musicas);

  // var audio = new Audio(musicas[0]);
  // audio.loop = true;
  // audio.play();
</script>

<style lang="scss" is:global>
  #home {
    .container {
      display: flex;
      justify-content: space-between;

      #barra-do-lado {
        margin-top: 19px;
      }
    }
  }
</style>
