---
import { profilePicture } from "@/lib/clientShorthand";
---

<aside id="barra-do-lado">
  <img class="splat" src="/img/sprites/barra-do-lado-splat.png" alt="" />
  <div class="top"></div>
  <div class="bottom">
    <img src="/img/sprites/barra-do-lado.png" alt="Barra do lado" />
    <div class="box">
      <slot />
      <div class="header"><p>novidades</p></div>
      <div class="project-list">
        {
          [0, 0, 0, 0, 0].map((project) => (
            <div class="project arial">
              <a href="/" class="thumbnail">
                <img class="static" src="/img/static.gif" alt="" />
                <img class="icon" src="/img/sprites/jogos.png" alt="Jogo" />
                <img class="image" src="/img/defaultpfp.png" alt="Thumbnail" />
              </a>
              <div class="info">
                <a href="/" class="title">
                  Esse jogo esse jogo esse jogo esse jogo esse jogo esse jogo
                </a>
                <a href="/users/fupicat" class="user">
                  <img
                    src={profilePicture(null)}
                    alt="Foto de perfil de Fupicat"
                  />
                  <div class="info">
                    <p class="time">6 horas atrás</p>
                    <p class="title">fupicat, o legal</p>
                  </div>
                </a>
              </div>
            </div>
          ))
        }
      </div>
      <a href="/projects" class="link">
        <p class="arial">&lt;&lt; Ver novidades anteriores</p>
      </a>
      <div class="header"><p>anuncios fake lmao</p></div>
      <a href="/404" class="ad">
        <img src="/img/detector-de-viciado-em-chad.png" alt="" />
        <img src="/img/ads/neon-mania.png" alt="Neon Mania" />
      </a>
    </div>
  </div>
</aside>

<script>
  import { loadSample, playSample, stopSample } from "@/lib/audio";

  (async () => {
    const tvOn = await loadSample("/sfx/tv-on.wav");

    const tvStatic = await loadSample("/sfx/tv-static.wav");

    const projectLinks = document.querySelectorAll<HTMLAnchorElement>(
      ".project-list .project .thumbnail"
    );

    projectLinks.forEach((link) => {
      let loop: AudioBufferSourceNode | null = null;

      link.addEventListener("mouseenter", () => {
        playSample(tvOn);
        loop = playSample(tvStatic, {
          volume: 0.5,
          loop: true,
        });
      });

      link.addEventListener("mouseleave", () => {
        loop = stopSample(loop);
      });
    });
  })();
</script>

<style lang="scss" is:global>
  aside#barra-do-lado {
    display: flex;
    flex-direction: column;
    max-width: 15.875rem;
    position: relative;
    margin-bottom: 4rem;

    .splat {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      pointer-events: none;

      object-fit: none;
      object-position: top right;

      mix-blend-mode: overlay;
      opacity: 0.3;
    }

    .top {
      height: 8px;
      image-rendering: pixelated;
      background: url("/img/sprites/barra-do-lado-grid-topo.png");
    }

    .bottom {
      image-rendering: pixelated;
      background: url("/img/sprites/cramunhao-grid.png");

      > * {
        image-rendering: auto;
      }

      > img {
        margin-left: 1rem;
        margin-top: 0.25rem;
        image-rendering: pixelated;
      }

      .box {
        margin-left: 0.1875rem;
        margin-right: 0.1875rem;
        margin-top: 0.5rem;
        margin-bottom: 0.1875rem;
        position: relative;
        padding: 0.5rem;

        &::before {
          content: "";
          mix-blend-mode: overlay;
          opacity: 0.6;
          border: 2px solid #ffffff;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          pointer-events: none;
        }

        .header {
          margin-top: 24px;
          background: rgb(255, 255, 255, 0.2);
          border: 2px solid rgb(0, 0, 0, 0.2);

          &:first-of-type {
            margin-top: 0;
          }

          p {
            font-family: "Hooge", "Courier New", Courier, monospace;
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1rem;

            color: #ffffff;
            margin-left: 2px;
          }
        }

        .project-list {
          margin-top: 9px;
          display: flex;
          flex-direction: column;
          gap: 4px;

          .project {
            display: flex;
            align-items: flex-start;
            gap: 6px;

            .thumbnail {
              position: relative;
              width: 4rem;
              height: 3rem;

              &:hover {
                .static,
                .icon {
                  display: block;
                }
              }

              .image,
              .static {
                width: 4rem;
                height: 3rem;
              }

              .static {
                box-shadow: inset 0px 0px 6px #ffffff;
                position: absolute;
                opacity: 0.7;
                display: none;
              }

              .icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -60%);
                filter: drop-shadow(0px 0px 6px #ffffff);
                display: none;
              }
            }

            .info {
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 2px;
              overflow: hidden;

              .title {
                display: block;
                font-style: normal;
                font-weight: 700;
                font-size: 0.75rem;
                line-height: 0.875rem;

                color: #ffffff;

                white-space: nowrap;

                text-overflow: ellipsis;
                overflow: hidden;
              }

              .user {
                display: flex;
                gap: 6px;
                align-items: flex-end;

                img {
                  width: 32px;
                  height: 32px;
                }

                .info {
                  gap: 0px;

                  .time {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 0.625rem;
                    line-height: 0.6875rem;

                    color: rgba(255, 255, 255, 0.4);
                  }

                  .title {
                    color: rgba(255, 255, 255, 0.6);
                  }
                }
              }
            }
          }
        }

        .link {
          margin-top: 10px;
          display: block;

          font-style: normal;
          font-weight: 400;
          font-size: 0.5625rem;
          line-height: 0.625rem;

          color: rgba(255, 255, 255, 0.6);

          &:hover {
            text-decoration: underline;
          }
        }

        .ad {
          display: block;
          margin-top: 9px;
          position: relative;

          width: 232px;
          height: 174px;
          background-color: rgba(166, 166, 166, 0.2);

          img {
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
          }
        }
      }
    }
  }
</style>
