---
import type { ProfileData } from "@/models/Profile";

export interface Props {
  profile: ProfileData | null;
  custom_color?: string;
}

const { profile, custom_color } = Astro.props;
---

<header id="barra-de-cima">
  <div class="top">
    <div class={"header-tint" + (custom_color === "rainbow" ? " rainbow" : "")}>
    </div>
    <div class="container">
      <h1>especulamente.com.br</h1>
      <a href="/" class="logo">
        <img src="/img/especulamente.png" alt="Especulamente.com.br" />
      </a>
      <div class="menu">
        <div class="nav-body">
          <nav>
            <a href="/projects">
              <div class="icon">
                <img src="/img/sprites/projetos.png" alt="Projetos" />
              </div>
              <p class="hooge">PROJETOS</p>
            </a>
            <img src="/img/sprites/separador.png" alt="" class="separator" />
            <a href="/games">
              <div class="icon">
                <img src="/img/sprites/jogos.png" alt="Jogos" />
              </div>
              <p class="hooge">JOGOS</p>
            </a>
            <img src="/img/sprites/separador.png" alt="" class="separator" />
            <a href="/media">
              <div class="icon">
                <img src="/img/sprites/midia.png" alt="Mídia" />
              </div>
              <p class="hooge">MÍDIA</p>
            </a>
            <img src="/img/sprites/separador.png" alt="" class="separator" />
            <a href="/blogs">
              <div class="icon">
                <img src="/img/sprites/blogs.png" alt="Blogs" />
              </div>
              <p class="hooge">BLOGS</p>
            </a>
            <img src="/img/sprites/separador.png" alt="" class="separator" />
            <a href="/bofetadamente">
              <div class="icon">
                <img src="/img/sprites/bofetadamente.png" alt="Bofetadamente" />
              </div>
              <p class="hooge">BOFETADAMENTE</p>
            </a>
          </nav>
          <form class="search arial" id="header-search">
            <input type="search" />
            <button>
              <svg
                width="11"
                height="11"
                viewBox="0 0 11 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="3.88889" cy="3.88889" r="3.38889" stroke="#626B85"
                ></circle>
                <path d="M6.11108 6.11108L9.99997 9.99997" stroke="#626B85"
                ></path>
              </svg>
            </button>
          </form>
        </div>
        <div class="nav-shadow"></div>
        <div class="tools arial">
          <p>áudio: <a href={Astro.url.href} id="audio-toggle">on</a></p>
          {
            profile ? (
              <p>
                olá de novo novamente,
                <a href={`/users/${profile.username}`}>
                  {profile.nickname || "nova conta"}
                </a>
                ~ <a href="/admin/config">configurações</a> ~
                <a href="/" id="logout">
                  sair
                </a>
              </p>
            ) : (
              <p>
                <a href="/admin/login">login</a>
              </p>
            )
          }
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class={"header-tint" + (custom_color === "rainbow" ? " rainbow" : "")}>
    </div>
  </div>
</header>

<script>
  // Toggle de som e sons dos botões

  import { audioOff } from "@/lib/audio";

  const audioToggle =
    document.querySelector<HTMLAnchorElement>("#audio-toggle");

  if (audioOff) audioToggle!.textContent = "off";

  audioToggle!.addEventListener("click", (e) => {
    e.preventDefault();
    if (audioOff) localStorage.removeItem("audio-off");
    else localStorage.setItem("audio-off", "true");

    window.location.reload();
  });
</script>

<script>
  // Botão de logout e animação dos botões

  import { supabase } from "../lib/supabaseClient";

  document.querySelector("#logout")?.addEventListener("click", (event) => {
    event.preventDefault();

    (async () => {
      const { error } = await supabase.auth.signOut();

      if (error) alert(error.message);
    })();
  });
</script>

<script>
  // Menu

  import { loadSample, playSample } from "@/lib/audio";
  import gsap from "gsap";

  (async () => {
    const boing = await loadSample("/sfx/boing.wav");
    const clink = await loadSample("/sfx/clink.ogg");

    const menu = document.querySelector<HTMLDivElement>(".menu")!;
    const navLinks =
      document.querySelectorAll<HTMLAnchorElement>(".menu nav a");

    const bounceDuration = 0.8;

    navLinks.forEach((menuLink) => {
      const icon = menuLink.querySelector<HTMLImageElement>("img");

      menuLink.addEventListener("mouseenter", function () {
        if (!menu.classList.contains("disabled")) {
          playSample(boing);
          gsap.to(icon, {
            y: -8,
            ease: "power2.out",
            duration: bounceDuration / 4,
          });
          gsap.to(icon, {
            y: 0,
            ease: "bounce.out",
            delay: bounceDuration / 4,
            duration: bounceDuration / 2,
          });
        }
      });

      menuLink.addEventListener("click", () => {
        playSample(clink);
        menu.classList.add("disabled");
        navLinks.forEach((btn) => btn.classList.remove("clink"));
        menuLink.classList.add("clink");
      });
    });
  })();
</script>

<script>
  // Pesquisa
  const search = document.querySelector<HTMLFormElement>("#header-search")!;
  const searchInput = search.querySelector<HTMLInputElement>("input")!;

  const nav = document.querySelector<HTMLDivElement>("#barra-de-cima nav")!;
  searchInput.addEventListener("focus", () => {
    nav.classList.add("compact");
    nav.classList.remove("decompact");
  });
  searchInput.addEventListener("blur", () => {
    nav.classList.remove("compact");
    nav.classList.add("decompact");
  });

  search.addEventListener("submit", (event) => {
    event.preventDefault();

    window.location.href = `/projects?q=${encodeURIComponent(
      searchInput.value
    )}`;
  });
</script>

<style lang="scss" is:global>
  header#barra-de-cima {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: relative;

    .header-tint {
      top: 0;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--custom_color);
      mix-blend-mode: hue;
      z-index: 1;
      pointer-events: none;
    }

    .top {
      background: url("/img/sprites/header-grid.png");
      background-position: left bottom;
      image-rendering: pixelated;
      position: relative;

      .container {
        display: flex;
        gap: 0.5625rem;
        padding-top: 0.875rem;
        position: relative;
        image-rendering: auto;

        > h1 {
          display: none;
        }

        .logo {
          display: flex;
          align-items: flex-start;

          img {
            max-width: 16.875rem;
          }
        }

        .menu {
          display: flex;
          flex-direction: column;
          width: 100%;

          &.disabled {
            .nav-body {
              background: linear-gradient(
                0deg,
                #6977a0af 0%,
                #9099b8af 39.58%,
                #edeff4af 85.94%,
                #5f6e9aaf 100%
              );

              nav a {
                opacity: 0.6;
                transition: none;

                &.clink {
                  opacity: 1;

                  p {
                    text-shadow: 0px 0px 1px white, 0px 0px 2px white;
                  }

                  &:hover p {
                    text-shadow: 0px 0px 1px white, 0px 0px 2px white;
                  }
                }

                &:hover p {
                  text-shadow: none;
                }
              }
            }
          }

          .nav-body {
            display: flex;
            gap: 13px;
            justify-content: space-between;
            margin-top: 12px;
            width: 100%;
            height: 24px;
            padding-right: 3px;
            background: linear-gradient(
              0deg,
              #6977a0 0%,
              #9099b8 39.58%,
              #edeff4 85.94%,
              #5f6e9a 100%
            );
            border: 1px solid #32457d;
            box-shadow: inset -8px 0px 8px -8px #112564,
              inset 8px 0px 8px -8px #112564;

            nav {
              width: 100%;

              display: flex;

              align-items: flex-end;

              &.compact {
                a {
                  .icon {
                    margin-right: 0px;

                    animation: header-icon-contract 0.4s
                      cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

                    @keyframes header-icon-contract {
                      0% {
                        margin-right: 6px;
                      }
                      100% {
                        margin-right: 0px;
                      }
                    }
                  }

                  p {
                    max-width: 0px;

                    animation: header-p-contract 0.4s
                      cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

                    @keyframes header-p-contract {
                      0% {
                        max-width: 80px;
                      }
                      100% {
                        max-width: 0px;
                      }
                    }
                  }
                }
              }

              &.decompact {
                a {
                  .icon {
                    animation: header-icon-expand 0.8s
                      cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

                    @keyframes header-icon-expand {
                      0% {
                        margin-right: 0px;
                      }
                      50% {
                        margin-right: 0px;
                      }
                      100% {
                        margin-right: 6px;
                      }
                    }
                  }

                  p {
                    animation: header-p-expand 0.8s
                      cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

                    @keyframes header-p-expand {
                      0% {
                        max-width: 0px;
                      }
                      50% {
                        max-width: 0px;
                      }
                      100% {
                        max-width: 80px;
                      }
                    }
                  }
                }
              }

              a {
                display: flex;
                padding-left: 11px;
                padding-right: 11px;

                position: relative;

                .icon {
                  position: relative;
                  z-index: 1;
                  bottom: 2px;
                  width: 32px;
                  margin-right: 6px;

                  img {
                    position: absolute;
                    bottom: 0;
                  }
                }

                &:hover {
                  p {
                    text-shadow: 0px 0px 1px white, 0px 0px 2px white;
                  }
                }

                p {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 8px;
                  line-height: 9px;

                  color: #2d417a;
                  margin-bottom: 7px;

                  position: relative;

                  max-width: 80px;
                  overflow: hidden;

                  text-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
                  transition: text-shadow 0.4s
                    cubic-bezier(0.075, 0.82, 0.165, 1);
                }
              }

              .separator {
                margin-bottom: 1px;
              }
            }

            .search {
              width: 100%;
              display: flex;
              background: #ffffff;
              border: 1px solid #626b85;
              height: 16px;

              align-self: center;

              input {
                width: 100%;
                height: 16px;
                border: none;
                background: transparent;

                font-size: 10px;
              }

              button {
                height: 16px;
                width: 16px;

                border: none;
                background: transparent;

                cursor: pointer;
              }
            }
          }

          .nav-shadow {
            display: block;
            width: 100%;
            height: 3px;
            background: linear-gradient(
              180deg,
              rgba(50, 69, 125, 0.8) 0%,
              rgba(50, 69, 125, 0) 100%
            );
            bottom: 0;
          }

          .tools {
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 11px;

            color: #ffffff;

            display: flex;
            justify-content: space-between;

            margin-top: 4px;

            a {
              color: #6cb2ff;

              display: inline-block;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .bottom {
      width: 100%;
      height: 16px;

      background: url("/img/sprites/header-grid-bottom.png");
      image-rendering: pixelated;
      position: relative;
    }
  }
</style>
