---
import "7.css/dist/7.scoped.css";
import "@/lib/saving-progress/styles.scss";

import Layout from "@/layouts/Layout.astro";
import Profile from "@/models/Profile";
import LoginRequired from "@/layouts/LoginRequired.astro";
import Box from "@/components/Box.astro";
import ThemeField from "@/components/formWidgets/ThemeField.astro";
import BackgroundField from "@/components/formWidgets/BackgroundField.astro";
import ImageField from "@/components/formWidgets/ImageField.astro";

const sessionProfile = await Profile.current(Astro);

if (!sessionProfile) {
  Astro.response.status = 403;
}
---

<LoginRequired profile={sessionProfile}>
  <Layout title="Editar perfil" profile={sessionProfile} id="edit_profile">
    <div class="container">
      <Box title="Editar perfil" color="#0c4895">
        <form class="win7">
          <ThemeField label="Cor do cabeçalho" value={sessionProfile?.color} />
          <BackgroundField
            label="Imagem de fundo"
            value={sessionProfile?.background_url}
          />
        </form>
      </Box>
    </div>
  </Layout>

  <script>
    import {
      removeSavingDialog,
      showSavingDialog,
    } from "@/lib/saving-progress";
    import { supabase } from "@/lib/supabaseClient";
    import { updateSitePreview } from "@/lib/sitePreview";

    const form = document.querySelector(
      "#edit_profile form"
    )! as HTMLFormElement;

    function updatePreview() {
      updateSitePreview(themeField.dataset.value, bgField.dataset.value);
    }

    const themeField = form.querySelector("theme-field")!;
    themeField.addEventListener("change", () => {
      updatePreview();
    });

    const bgField = form.querySelector("background-field")!;
    bgField.addEventListener("change", () => {
      updatePreview();
    });

    updatePreview();
  </script>
</LoginRequired>

<style lang="scss" is:global>
  #edit_profile .container {
    padding-top: 26px;
    padding-bottom: 26px;

    form {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
</style>
