---
import Layout from "@/layouts/Layout.astro";
import { profilePicture } from "@/lib/clientShorthand";
import Media from "@/models/Media";
import Profile from "@/models/Profile";

const sessionProfile = await Profile.current(Astro);

const media = await Media.all();
---

<Layout title="Mídia" profile={sessionProfile}>
  <h1>Mídia</h1>
  {
    media?.map((item) => (
      <a href={`/media/${item.id}`} class="profile">
        <img
          src={
            item.nsfw
              ? "/img/crucificamente.png"
              : profilePicture(item.image_url)
          }
          alt={item.title}
          width="200"
          height="200"
        />
        <p>{item.title}</p>
      </a>
    ))
  }
</Layout>
